@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dosis:wght@500;600;800&family=Lugrasimo&family=Rubik:wght@300&display=swap');
/*
font-family: 'Dosis', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dosis:wght@200&family=Lugrasimo&family=Rubik:wght@300&display=swap');
/*font-family: 'Dancing Script', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Lugrasimo', cursive;
font-family: 'Rubik', sans-serif;*/